* {
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #ff7171;
  text-align: center;
  overflow: hidden;
}

.navbar a {
  display: inline-block;
  color: black;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 0.2rem;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar img {
  height: 30px;
  vertical-align: text-bottom;
}

.navbar a:hover {
  background-color: #ff7575;
  color: black;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar img {
    display: block;
    text-align: left;
    padding: 12px;
  }
}

.container {
  padding-top: 40px;
  background: linear-gradient(
    125deg,
    rgba(255, 245, 175, 1) 35%,
    rgba(255, 181, 238, 1) 100%
  );
}

li:last-child img {
  max-width: 2%;
  height: auto;
  vertical-align: middle;
  margin-left: 5px;
}

.primary_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primary_item1 {
  flex: 1;
  box-sizing: border-box;
  margin: 50px 70px;
}

.primary_item2 {
  flex: 1;
  box-sizing: border-box;
}

.primary_img {
  max-width: 50vw;
  height: 100vh;
}

.primary_h1 {
  font-size: 40px;
}

.primary_p {
  font-size: 20px;
  margin: 50px 0 50px 0;
}

.primary_btn {
  background-color: #ff7171;
  color: #fff;
  width: 10rem;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.secondary_container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.secondary_item1,
.secondary_item2,
.secondary_item3 {
  box-sizing: border-box;
}

.secondary_item1,
.secondary_item2 {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.secondary_item3 {
  padding: 5rem;
}

.secondary_img1 {
  width: 17vw;
  height: 30vh;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.secondary_img2 {
  margin-left: 16px;
  width: 20vw;
  height: 63vh;
}

.secondary_p {
  text-transform: uppercase;
}

.secondary_p,
.secondary_h1,
span img {
  color: black;
  padding: 10px;
  max-width: 24rem;
  height: auto;
  background-color: #ff7171;
}
.secondary_h1 {
  font-size: 40px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
span img {
  vertical-align: middle;
  width: 30px;
}

@media (max-width: 768px) {
  .primary_container {
    display: block;
  }
  .primary_item2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .primary_img {
    max-width: 90vw;
  }
  .secondary_container {
    display: block;
  }
  .secondary_img1 {
    width: 81vw;
    height: auto;
    margin-left: 60px;
  }
  .secondary_img2 {
    width: 81vw;
    height: auto;
    margin: 25px 0 0px 60px;
  }
}

@media (max-width: 468px) {
  .primary_container {
    display: block;
  }
  .primary_item2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .primary_img {
    max-width: 90vw;
    max-height: 60vh;
  }
}
